.button {
  color: white;
  background-color: #23e6e6;
  padding: 15px 25px;
  width: 170px;
  z-index: 0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #158787;
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 50%;
  }
}
